#!/sbin/openrc-run

description="SBFspot upload daemon"

start()
{
    ebegin "Start daemon"
    /SBFspotUploadDaemon -c /SBFspotUpload.cfg
    eend $?
}
